@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ubuntu:wght@500&display=swap");

/* ----------------------------------------------------------------------------
                                   Common
---------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.header {
  
  display: flex;
  justify-content:space-between;
  position: fixed;
  align-items:center;
  /* padding: 340px 100px; */
  width: 100%;
  top: 0px;
  padding: 300px 0 0 600px;
  transition: 0.6s;
  z-index: 2000;
  
}
body {
  /* background-color: #040404; */
  color: #fff;
  position: relative;
  background: transparent;
  width: 100vw;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  background: url("../assets/images/black\ background.png") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

main{
}

section .container {
  position: relative;
  top:200px;
  padding: 0 1em;
  max-width: 115rem;
  margin-left: 14rem;
  margin-right: 4rem;
  z-index: 200;
  
}

section {
  background-color: transparent;
  top: 220px;
  width: 80vw;
}
.section-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 100px;
}
.section-title h2::after {
  content: "";
  width: 520px;
  height: 4px;
  display: inline-block;
  background: #c916e4;
  margin: 4px 10px;
}
a {
  color: rgb(84, 83, 83);
  text-decoration: none;
}

a:hover {
  color: rgba(59, 216, 240, 0.851);
  text-decoration: none;
}


/* ----------------------------------------------------------------------------
                                   Header
---------------------------------------------------------------------------- */

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  width: max-content;
  display: flex;
  top: 0px;
  left: 0px;
  height: 5vh;
  position: fixed;
  z-index: 2000;

}

.navbar ul {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content:center ;
}

.navbar li {
  position: relative;
  list-style: none;
}

.navbar li+li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0px 50px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 7px;
  bottom: -5px;
  left: 55px;
  background-color: #f828f1;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 45px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  /* transition: 0.5s; */
  position: fixed;
  right: 15px;
  top: 15px;
}




.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 45px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-mobile li {
  padding: 12px 20px;
}

.navbar-mobile li+li {
  margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 16px;
  position: relative;
}

header.sticky{
  padding: 0px 100px 0 540px;
  background-color: rgb(2, 1, 12);
  height: 8vh;
  
}

header.sticky nav ul li a {
  color: rgb(140, 14, 236);
}

/*----------------------------------------------------------------------------
                              Home section 

---------------------------------------------------------------------------- */
#home-section {
  width: 100vw;
  height:auto;

}

#homeContainer{
  background-color: transparent;
}
.social-links {
  display: flex;
  position: relative;
  left: 100px;
  top: 400px;
}
.social-links > a {
  padding: 10px;
  background-color: white;
  border: 2px solid #ca1f1f;
  border-radius: 50%;
  margin: 20px;
  size: 30px;
}

.social-links > a:hover {
  background-color: aqua;
}
.header-title {
  position: relative;
  top: 440px;
  left: 80px;
  font-weight: bolder;
  font-size: xx-large;
  width: max-content;
  font-family: "Creepster", cursive;
}

.name {
  position: relative;
  top: 430px;
  left: 140px;
  color: whitesmoke;
  font-weight: bolder;
  font-style: italic;
  font-family: "Creepster", cursive;
}
.intro {
  position: relative;
  top: -200px;
  color: #277ef7ee;
  left: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hireMe{
  position: relative;
  top: -180px;
  color: #277ef7ee;
  left: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #302760;
  width: 300px;
  padding: 40px;
  margin-left: 20px;
  border-radius: 2rem;
}

#headerPic {
  position: relative;
  top: -262px;
  left: 500px;
  opacity: 0.63;
  width: 500px;
  z-index: -1;
}





/* ----------------------------------------------------------------------------
                                 

/* ----------------------------------------------------------------------------
                about section                  
---------------------------------------------------------------------------- */
#about-section{
  margin-top: 200px;
  padding-top: 100px;
}
#title-about {
  top: 200px;
  /* left: 300px; */
  /* background-color: aqua; */
  width: fit-content;
}



.about-img{
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: fit-content;
  left: -240px;
  opacity: .9;
  padding-right: 0px;
}

.myAbout{
  background-color: rgb(131, 193, 160);
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: absolute;
  top: 1800px;
  left: 440px;
  width: 1100px;
  margin: 40px;
  height: auto;
  z-index: 230;
  font-size: xx-large;
  color: antiquewhite;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.my-details-box{
  padding: 40px 40px 40px 40px;
  height: 600px;
  border-radius: 2rem;
  border: 4px solid white;
  display: flex;
  flex-direction:row ;
  justify-content: space-evenly;
  margin: 0 20px 0 70px;
  background-color: #302760;

}
.my-details{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 2rem;
  /* background-color: #302760; */
  position: relative;
  top: -200px;
  left: 200px;
  
}


.my-details-box li{
  /* list-style:; */
  list-style-type: circle;

}

.my-details-box li i{
  font-size: 16px;
  margin-right: 5px;
  color: #0ec56a;
  line-height: 6;
  font-size:large;
}

.about .tech-img{
  display: flex;
  margin: 0 20px 0 20px;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background-color: aliceblue;
  border-color: aqua;
  border-radius: 10%;
  height: fit-content;
  width: fit-content;
}


/*=========== tech div =============*/
.tech-main-div>div>h1{
  color: rgb(173, 9, 171);
  font-weight: bolder;
  font-size: 5rem;
}
.tech-main-div{
  position: relative;
  background-color: rgb(8, 12, 83);
  z-index: 230;
  color: aliceblue;
}
.tech-img>img{
  width: 10vw;
  height: 10vw;
}

.tech-div{
  display: flex;
  justify-content: center;
}

/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests{
  margin-left: 0em;
  /* background-color: #c916e4; */
  
}
.interests .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  transition: ease-in-out 0.3s;
}

.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.interests .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: #fff;
}

.interests .icon-box:hover {
  background: rgba(255, 255, 255, 0.12);
}


/* ----------------------------------------------------------------------------
                              Resume section 

---------------------------------------------------------------------------- */
.resume-box{
  
}
.resume-box{
  background-color: #0ec56a;
}

/* ----------------------------------------------------------------------------
                              My work section 

---------------------------------------------------------------------------- */
.asignment{
  display: flex;
  flex-direction: column;
  column-count: auto;
  align-items: stretch;
  column-gap: normal;

}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.assin-big{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  gap: 30px;

}

.asignment img{
  width: 150px;
  height: 150px;
  border-radius: 1rem;
}

.mywork-section .icon-box {
  text-align: center;
  background: rgba(204, 204, 204, 0.1);
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
}

.mywork-section .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: #18d26e;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}

.mywork-section .icon-box .icon i {
  color: #fff;
  font-size: 28px;
}

.mywork-section .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}

.mywork-section .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.mywork-section .icon-box h4 a {
  color: #fff;
}

.mywork-section .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.mywork-section .icon-box:hover {
  background: #18d26e;
  border-color: #18d26e;
}

.mywork-section .icon-box:hover .icon {
  background: #fff;
}

.mywork-section .icon-box:hover .icon i {
  color: #18d26e;
}

.mywork-section .icon-box:hover .icon::before {
  background: #35e888;
}

.mywork-section .icon-box:hover h4 a,
.mywork-section .icon-box:hover p {
  color: #fff;
}

.icon-box>a,
.icon-box>p{
  color: #fff;
}

/* ----------------------------------------------------------------------------
                              contact me section 

---------------------------------------------------------------------------- */
.contact-and-form-div{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  
}

.contact-me-div{
  display: flex;
  flex-direction: column;
  width:web-kit-fill-availble;
}

.infomation-box{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width:20vw;
  height: max-content;
  background-color: #b61c1c;
  padding: 20px;
}
.infomation-box a {
  text-decoration: none;
  color: black;
}

.text-form{
  display: flex;
  flex-direction: column;
  width:20vw;
}

.text-form .firstname{
  line-height: 2;
}

.text-form>div>input{
  width: -webkit-fill-available;
}

.text-form>div>textarea{
  width: -webkit-fill-available;
}

.infomation-title{
  display: contents;
}

/*--------------------------------------------------------
               footer
 -------------------------------------------------------------------- */


footer{
  background-color: #18d26e;
  height: 10vh;
}









/*  this is  media quary*/




@media (max-width: 1078px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
  .interests>div {
    display:flex;
    flex-direction: row;
    grid-row: 2;
    padding-left: 0;
    margin-left: 0;
  }

  .row>div {
    display: grid;
    flex-direction: row;
    justify-content:flex-start;
  
  }
  .my-details{
    display: block;
    flex-direction:column;
    background-color: #0ec56a;
    border-radius: 4rem solid black;
    
  }
  .section-title{
    padding: 0;
    margin: 0;
    position: relative;
    left: -200px;
  }
  .container{
    margin-left: 0px;
    padding-left: 0;
  }

  .myAbout{
    width: auto;
  }
}




@media(max-width:307px) {
  .row>div {
    display: grid;
    flex-direction: row;
    justify-content:flex-start;
    background-color:#f828f1 ;
  } 

  .myAbout{
    width: 900px;
  }

  .my-details{
    padding: 0;
    margin-left: 0;
    position: relative;
    left: 100px;
    top: 100px;
  
  }

  .my-details-box{
    margin-left: 0;
  }
}